.popularProducts {
	margin-top: 100px;
}

.gallerySection ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.popularProducts li.galleryItem {
	margin: 30px 5px;
	text-align: center;
	padding: 0;
	flex: 0 1 18%;
	&:hover .overlay {
		display: block;
	}
}

.galleryItem img {
	max-width: 100%;
}

// OVERLAY
.imageOverlay {
	position: relative;
	font-size: 0;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(26, 26, 38, 0.5);
	z-index: 5;
	display: none;
	p {
		border: 1.5px solid white;
		&:hover {
			border: 1.5px solid $darkGrey;
			color: black;
			background: $turquoise;
		}
	}
}

// AFTER EFFECT
.imageOverlay {
	position: relative;
}

.infoButton {
	@include infoButton($pink);
}

.subInfoButton {
	@include subInfoButton($turquoise)
}
