.subNav {
	margin: 100px 0;
	h5 {
		border-bottom: 2px solid #a8edea;
		display: inline-block;
		margin: 0;
	}
}

.subNav .wrapper {
	display: flex;
	flex-wrap: wrap;
}

// COMPANY INFO
.companyInfo {
	width: calc(40% - 10px);
	margin-right: 10px;
	.bold {
		font-weight: 500;
		color: $darkGrey;
	}
	.bold:after {
		content: " :";
	}
	p {
		text-align: left;
	}
}

.contactInfo, .socialLinks {
	list-style: none;
	padding: 0;
}

.contactInfo li {
	font-size: 14px;
	color: #888890;
	a {
		color: #888890;
		text-decoration: none;
	}
	a:hover {
		color: $darkGrey;
	}
}

.socialLinks li {
	display: inline-block;
	font-size: 24px;
	padding-right: 1.5rem;
	a {
		color: black;
		text-decoration: none;
		&:hover {
			color: $lightGrey;
		}
	}
}

.services, .account {
	width: calc(15% - 20px);
	padding-right: 3rem;
	ul {
		list-style: none;
		padding: 0;
		a {
			color: $darkGrey;
			font-size: 14px;
			text-decoration: none;
			&:hover {
				color: $lightGrey;
			}
		}
	}
}

// INSTAGRAM GALLERY
.instagram {
	width: 30%;
}

ul.instagramGallery {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	justify-content: space-between;
	align-content: space-between;
	margin-right: 0;
	li {
		list-style: none;
		margin: 0 0 0.75rem 0;
		flex: 0 1 30%;
		img {
			width: 100%;
		}
	}
}

ul.paymentOptions {
	width: 100%;
}

// PAYMENT OPTIONS
.paymentOptions {
	list-style-type: none;
	width: 25%;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		font-size: 24px;
	}
}

// FOOTER

.footerContent {
	display: flex;
	justify-content: space-between;
	p {
		width: 50%;
		text-align: left;
		color: $lightGrey;
	}
	p:last-child {
		text-align: right;
	}
	a {
		text-decoration: none;
		color: $darkGrey;
		&:hover {
			color: $lightGrey;
		}
	}
}
